<nav class="navbar is-transparent" th:fragment="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://i.imgur.com/8uiZ22z.png" alt="Beelzebub Says: Obey Productivity" width="112" height="28">
    </a>

  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/discover">
        Discover
      </a>
      <!--<a class="navbar-item" href="/about">
        Tasks
      </a>-->
    </div>
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable" th:if="${session.user != null}">
            <a class="navbar-link" th:text="'Beelzebub greets you, ' + ${session.user.getName()}"></a>
            <div class="navbar-dropdown is-right">
            <a class="navbar-item logout-button">
              Logout
            </a>
          </div>
        </div>
    </div>
    <a class="navbar-item open-reg" th:if="${session.user == null}">Register</a>
    <a class="navbar-item open-auth" th:if="${session.user == null}">Log In</a>
  </div>
</nav>
