    <div class="modal reg-modal" th:fragment="register">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Register</p>
          <button class="delete close-reg" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

        <div class="field username-form">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input username-reg-input" type="text" placeholder="Input username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle invalid-username is-hidden"></i>
            </span>
          </div>
          <p class="help is-danger invalid-username is-hidden">This username is unavailable</p>
        </div>
            
        <div class="field email-form">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input email-reg-input" type="email" placeholder="Input email"> 
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle invalid-email is-hidden"></i>
              </span>
            </div>
            <p class="help is-danger invalid-email is-hidden">This email is invalid</p>
        </div>
            
        <div class="field password-form">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input password-reg-input" type="password" placeholder="Enter password">
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle invalid-password is-hidden"></i>
              </span>
            </div>
            <p class="help is-danger invalid-password is-hidden">This password is invalid</p>
        </div>
            
        <div class="field password2-form">
            <label class="label">Re-enter Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input password2-reg-input" type="password" placeholder="Re-enter password">
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle invalid-password2 is-hidden"></i>
              </span>
            </div>
            <p class="help is-danger invalid-password2 is-hidden">This password is invalid</p>
        </div>
       </section>
        <footer class="modal-card-foot">
          <button class="button is-warning register-button">Register</button>
          <button class="button close-reg">Cancel</button>
        </footer>
      </div>
    </div>