<div id="content" class="container" th:fragment="taskgroup">
        <table class="table is-fullwidth" id="diagnosis_list">
            <thead>
                <tr>
                    <th>Task Group</th>
                    <th>Created By</th>
                    <th>
                        <a th:if="${session.user != null}" class="button is-pulled-right is-danger add-group">
                            <i class="fas fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody th:if="${taskGroupList != null} and ${!taskGroupList.isEmpty()}">
                <th:block th:each="i : ${#numbers.sequence(0,taskGroupList.size()-1)}">
                    <tr th:id="${taskGroupList.get(i).getId()}">
                        <td>
                            <a th:id="${taskGroupList.get(i).getId()}" class="clickable" th:text="${taskGroupList.get(i).getName()}" th:data-href="@{'/tasks/' + ${taskGroupList.get(i).getId()}}"></a>
                            <input th:id="${taskGroupList.get(i).getId()}" class="edit-input is-hidden" type="text">
                            <a th:id="${taskGroupList.get(i).getId()}" class="is-link edit-button" style="color:black;"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a th:if="${taskGroupList.get(i).getCreatedBy().getUserID()} != ${session.user.getUserID()}" class="clickable" th:text="${taskGroupList.get(i).getCreatedBy().getName()}" th:data-href="@{'/users/' + ${taskGroupList.get(i).getCreatedBy().getUserID()}}"></a>
                            <a th:if="${taskGroupList.get(i).getCreatedBy().getUserID()} == ${session.user.getUserID()}" class="clickable" th:text="${taskGroupList.get(i).getCreatedBy().getName()}" data-href="/"></a>
                        </td>
                        <td>
                            <a 
                                th:if="${taskGroupList.get(i).getCreatedBy().getUserID()} == ${session.user.getUserID()}"
                                th:id="${taskGroupList.get(i).getId()}" 
                                class="button is-pulled-right is-danger is-outlined delete-group">
                                Delete
                            </a>
                            <a 
                                th:if="${taskGroupList.get(i).getCreatedBy().getUserID()} != ${session.user.getUserID()}"
                                th:id="${taskGroupList.get(i).getId()}" 
                                class="button is-pulled-right is-warning is-outlined unsave-group">
                                Unsave
                            </a>
                        </td>
                    </tr>                    
                </th:block>         
            </tbody>
        </table>

</div>