<div id="content" class="container" th:fragment="tasklist">
        <section class="hero is-danger">
            <div class="hero-body">
              <div class="container">
                  <center><center><button class="button is-rounded is-info is-medium refresh">Discover New Tasks</button></center><br><h1 class="title" th:text="${taskGroupName}"></h1>
                  <h2 class="subtitle">
                      Created by: <b><u><a th:if="${ownerID} != ${session.user.getUserID()}" class="clickable is-bold" th:text="${ownerName}" th:data-href="@{'/users/' + ${ownerID}}"></a>
                              <a th:if="${ownerID} == ${session.user.getUserID()}" class="clickable" th:text="${ownerName}" data-href="/"></a></b></u>
                  </h2></center>
              </div>
            </div>
          </section>

        <table class="table is-fullwidth" id="diagnosis_list">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>
                        <a th:if="${session.user != null} and ${ownerID == session.user.getUserID()}" class="button is-pulled-right is-danger add-task">
                            <i class="fas fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody th:if="${taskList != null} and ${!taskList.isEmpty()}">
                <th:block th:each="i : ${#numbers.sequence(0,taskList.size()-1)}">
                    <tr th:id="${taskList.get(i).getId()}">
                        <td>
                            <span th:id="${taskList.get(i).getId()}" class="task" th:text="${taskList.get(i).getName()}"></span>
                            <input th:id="${taskList.get(i).getId()}" class="edit-task-input is-hidden" type="text">
                            <a th:if="${ownerID == session.user.getUserID()}" th:id="${taskList.get(i).getId()}" class="is-link edit-task-button" style="color:black;"><i class="fas fa-edit"></i></a>
                        </td>
                        
                        <td>
                            <a th:if="${session.user.getUserID() == ownerID}" th:id="${taskList.get(i).getId()}" class="button is-pulled-right is-danger is-outlined delete-task">Delete</a>
                        </td>
                    </tr>                    
                </th:block>         
            </tbody>
        </table>
</div>