<div id="content" class="container" th:fragment="usertaskgroup">
        <table class="table is-fullwidth" id="diagnosis_list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody th:if="${taskGroupList != null} and ${!taskGroupList.isEmpty()}">
                <th:block th:each="i : ${#numbers.sequence(0,taskGroupList.size()-1)}">
                    <tr th:id="${taskGroupList.get(i).getId()}">
                        <td>
                            <a class="clickable" th:text="${taskGroupList.get(i).getName()}" th:data-href="@{'/tasks/' + ${taskGroupList.get(i).getId()}}"></a>
                        </td>
                        <td>
                            <a class="clickable" th:text="${taskGroupList.get(i).getCreatedBy().getName()}" th:data-href="@{'/users/' + ${taskGroupList.get(i).getCreatedBy().getUserID()}}"></a>
                        </td>
                        <td>
                            <a 
                                th:if="${session.user != null} and (${session.user.getUserID()} != ${userID}) and ${saves[i] == 0}"
                                th:id="${taskGroupList.get(i).getId()}" 
                                class="button is-pulled-right is-success is-outlined save-group">
                                Save
                            </a>
                            <a 
                                th:if="${session.user != null} and (${session.user.getUserID()} != ${userID}) and ${saves[i] == 1}"
                                th:id="${taskGroupList.get(i).getId()}" 
                                class="button is-pulled-right is-warning is-outlined unsave-group">
                                Unsave
                            </a>
                        </td>
                    </tr>                    
                </th:block>         
            </tbody>
        </table>

</div>