<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head lang="en">
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="/js/jquery.js"></script>
  <title>Beelzebub Says: Tasks</title>
  <link rel="stylesheet" type="text/css" href="/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/css/fa.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  
    <!--<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico'/>-->
</head>

<body>
<input type="hidden" id="userID" th:if="${session.user != null}" th:value="${userID}" hidden/>
    
<div th:replace="fragments/login :: login"></div>
<div th:replace="fragments/register :: register"></div>
<div th:replace="fragments/navbar :: navbar"></div>


<section class="hero is-info">
<div class="hero-body">
  <div class="container">
      <center><h1 class="title" th:text="${userName}"></h1></center>
  </div>
</div>
</section>


<section class="section">
<div class="container">
<div th:replace="fragments/usertaskgroup :: usertaskgroup"></div>
</div>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/authentication.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
